.nav-ul {
  list-style: none;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-icon {
  font-size: 1.75rem;
}

.menu-list {
  display: none;
}

.menu-list.show {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.page-btn-links.account,
.page-btn-links.home {
  border: none;
}

@media (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: space-between;
  }

  .nav-icon.menu-icon {
    display: none;
  }

  .menu-list {
    display: flex;
    gap: 1rem;
  }
}
