.form {
  display: flex;
  flex-direction: column;
}

.form-label,
.form-btns {
  margin-top: 1rem;
}

.trash-label {
  margin-left: 1rem;
}

.form-input {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
}

.form-btns {
  display: flex;
  justify-content: space-between;
}

.form-btn {
  font-family: inherit;
  font-size: 1.25rem;
  padding: 0.25rem 0.75rem;
}
