* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* black #212529; */
  --primary-color: #386641;
  --secondary-color: #f8f9fa;
  --highlight-color: #25a244;
  --bg-color: #fff;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

/* global utility classes */
.page-component-padding {
  padding: 1rem 2rem;
}

.page-btn-links {
  text-decoration: none;
  color: inherit;
  border: 0.125rem solid var(--primary-color);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}
.page-btn-links:hover,
.page-btn-links:focus, /*clicked on*/
.page-btn-links:active /*tab*/ {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.main-full-height {
  height: 92vh;
  padding-top: 5.5rem;
}

@media (min-width: 768px) {
  .main-full-height {
    padding-top: 2.5rem;
  }
}

@media (min-width: 2560px) {
  body {
    max-width: 1920px;
    margin: 0 auto;
  }
}
